# {{ ansible_managed }}

base {{ openldap['config']['base'] }}
uri {{ openldap['config']['uri'] }}
ldap_version 3
binddn {{ openldap['config']['binddn'] }}
bindpw {{ openldap['config']['bindpw'] }}
rootbinddn {{ openldap['config']['rootbinddn'] }}
port {{ openldap['config']['port'] }}
pam_password md5
nss_base_group		{{ openldap['config']['nss_base_group'] }}
nss_initgroups_ignoreusers backup,bin,colord,daemon,games,gnats,irc,landscape,libuuid,list,lp,mail,man,messagebus,mongodb,moviesserver,mysql,news,ntp,postgres,proxy,root,sshd,sync,sys,syslog,uucp,www-data
